:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-buttons {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.home-buttons a {
  padding: 10px 20px;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  background-color: #f0f0f0;
  color: #242424;
  cursor: pointer;
  text-decoration: none;
}

button {
  padding: 10px 20px;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  background-color: #f0f0f0;
  color: #242424;
  cursor: pointer;
  text-decoration: none;
  margin: 10px;
}

nav {
  display: flex;
  position: relative;
  z-index: 1;
  gap: clamp(25px, 55px, 55px);
  font-size: 1.3rem;
  background-color: #484f6b;
  position: fixed;
  justify-content: center;
  font-weight: 500;
  left: 0px;
  right: 0px;
  top: 0px;
  padding: 12px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

