/* Form component styles */
.dropdown-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  column-gap: 40px;
  width: 100%;
}

.dropdown-header {
  font-size: 1.1rem;
}

.label-on-top {
  font-size: 1rem;
}

.title-input {
  width: 100%;
  padding: 0.3rem;
  font-size: 1.5rem;
  height: 30px;
  background-color: var(--gray-bg);
  color: var(--dark);
}

select {
  width: 100%;
  padding: 0.5rem;
  background-color: var(--gray-bg);
  color: var(--dark);
}

.error {
  color: var(--error-red);
}

input[data-status='error'],
fieldset[data-status='error'] {
  border: 2px solid var(--error-red);
}

.bottom-right {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.description-input {
  width: 100%;
  height: 25ch;
  overflow: scroll;
  text-wrap: wrap;
  resize: none;
  background-color: var(--gray-bg);
  color: var(--dark);
}

input[type='email'] {
  width: 100%;
  padding: 0.3rem;
  font-size: 1.5rem;
  height: 30px;
  background-color: var(--gray-bg);
  color: var(--dark);
}

.link-and-price {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  gap: 40px;
}

.price-input {
  display: grid;
  width: 100%;
  height: 30px;
}

.link-input {
  display: flex;
  flex-grow: 1;
  gap: 20px;
  width: 100%;
  height: 30px;
}

.link-input input {
  flex-grow: 1;
}

fieldset {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-inline: 20px;
  padding-block: 10px;
  position: relative;
}

fieldset > legend {
  grid-column: span 3;
}

fieldset > input[type='checkbox'] {
  display: flex;
  justify-content: start;
}

input {
  font-size: 1.1rem;
}

form {
  display: grid;
  gap: 20px;
  width: 100%;
  margin-top: 50px;
}

form > button {
  width: 100%;
  margin: 0px;
}

@media (max-width: 600px) {
  .dropdown-container {
    grid-template-columns: 1fr;
  }

  .link-and-price {
    grid-template-columns: 1fr;
  }

  .link-input {
    display: grid;
    grid-template-columns: 1fr;
  }

  .price-input {
    display: grid;
    grid-template-columns: 1fr;
  }

  fieldset {
    grid-template-columns: 1fr;
  }
}
