/* Form component styles */
.dropdown-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 40px;
  width: 500px;
}

.title-input {
  width: 100%;
  padding: 0.3rem;
  font-size: 1.5rem;
  height: 30px;
  background-color: var(--gray-bg);
  color: var(--dark);
}

select {
  width: 100%;
  padding: 0.5rem;
  background-color: var(--gray-bg);
  color: var(--dark);
}

.description-input {
  width: 100%;
  height: 25ch;
  overflow: scroll;
  text-wrap: wrap;
  background-color: var(--gray-bg);
  color: var(--dark);
}

input[type='email'] {
  width: 100%;
  padding: 0.3rem;
  font-size: 1.5rem;
  height: 30px;
  background-color: var(--gray-bg);
  color: var(--dark);
}

.link-and-price {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 500px;
  gap: 40px;
  margin-top: 20px;
}

.price-input {
  display: grid;
  width: 100%;
}

.link-input {
  display: grid;
  width: 100%;
}
