/* Footer styles */
footer {
  background-color: var(--dark);
  padding: 40px 0;
  text-align: center;
  width: 100vw;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 200px;
  box-sizing: border-box;
}

footer .copyright, 
footer p {
  color: #ffffff; /* Target all paragraph elements in footer */
  font-size: 0.9rem;
}