/* Dropdown component styles */
.select-container {
  position: relative;
  width: 100%;
}

.select-container[data-status="error"] select {
  border: 2px solid var(--error-red);
}

.label-on-top {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-weight: 500;
}

.error {
  color: var(--error-red);
  font-size: 0.8rem;
  margin-top: 5px;
}